extends layout

block content
  h2.
    Toiminnot
  ul
    li 
      a(href="/invoice/person/add?customer=#{customerId}") Lisää yhteyshenkilö

  h1.
    Henkilölista
  ul 
    each person, i in personlist
      li
        #{person.firstname} #{person.lastname} 
        a(href="www.google.com")= person.customerName
        a(href="/invoice/person/delete?delete=#{person._id}") Poista henkilö
